# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
myenv/

# Database
db.sqlite3

# Static files
staticfiles/

# Media files
media/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store