{% extends 'base.html' %}

{% block content %}

<h2>Create Course</h2>

<div class="card p-4 shadow-sm">

<form method="POST">
    {% csrf_token %}

    <div class="mb-3">
        <label>Title</label>
        <input type="text" name="title" class="form-control">
    </div>

    <div class="mb-3">
        <label>Description</label>
        <textarea name="description" class="form-control"></textarea>
    </div>

    <button class="btn btn-success">Create Course</button>

</form>

</div>

{% endblock %}